html{
    box-sizing: border-box;
    font-size: 100%;
}
*, *::before,*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #000;
    color: green;
}
h1{
    font-family: 'Press Start 2P',cursive;
    padding: 10px;
    text-align: center;
}
#map{
    height: 60vh;
    margin: 20px;
    border: red solid 3px;
}